@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
}

a {
  text-decoration: none;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-content,
.page-books {
  padding: 2rem;
  min-height: 100vh;
}

.page-content {
  flex: 2;
  min-width: 600px;
}

.page-title {
  color: black;
  text-align: center;
}

.page-books {
  flex: 1;
  min-width: 400px;
}

.page-tagline {
  text-align: center;
}

.page-nav {
  text-transform: uppercase;
}

.page-nav ul {
  padding: 0;
  text-align: center;
}

.page-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 2rem;
}
