<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/stylesheet.css' | relative_url }}">
  <title>A Moonlit Cafe Press</title>
</head>

<body class="{{ page.bodyclass }}">
  <div class="page-container">
    <div class="page-content">
      <a class="page-title" href="{{ '/' | relative_url }}">
        <h1>A Moonlit Cafe Press</h1>
      </a>

      <p class="page-tagline">come as you are</p>

      <nav class="page-nav">
        <ul>
          <li><a href="{{ '/about' | relative_url }}">About</a>
          <li><a href="{{ '/books' | relative_url }}">Books</a>
          <li><a href="{{ '/submit' | relative_url }}">Submit</a>
        </ul>
      </nav>

      <main role="main">
        {{ content }}
      </main>
    </div>

    <div class="page-sidebar">
      <!-- <h2>Books</h2>
      <div>TODO: photo</div>
      <p>TODO: words</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et placeat
        perspiciatis non quaerat eligendi esse vel animi dicta quam, at, iure
        nobis! Atque dignissimos, neque consequatur dolores nostrum laborum optio?
      </p>
      <div>TODO: buy area!!</div> -->
    </div>
  </div>
</body>

</html>
